/*
 * BalsameeAPIs.Standard
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using BalsameeAPIs.Standard;
using BalsameeAPIs.Standard.Utilities;
using BalsameeAPIs.Standard.Http.Request;
using BalsameeAPIs.Standard.Http.Response;
using BalsameeAPIs.Standard.Http.Client;
using BalsameeAPIs.Standard.Exceptions;

namespace BalsameeAPIs.Standard.Controllers
{
    public partial class MedicalProfileController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static MedicalProfileController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static MedicalProfileController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new MedicalProfileController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="xAuthenticationToken">Required parameter: Example: </param>
        /// <param name="xSessionId">Required parameter: Example: </param>
        /// <param name="individualBirthDate">Required parameter: Example: </param>
        /// <param name="individualGender">Required parameter: Example: </param>
        /// <param name="individualBloodGroup">Required parameter: Example: </param>
        /// <param name="individualRelationshipStatus">Required parameter: Example: </param>
        /// <param name="individualChildrenNumber">Required parameter: Example: </param>
        /// <param name="individualNotes">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public void UpdateApiV5IndividualsUpdateMedicalProfilePut(
                string xAuthenticationToken,
                string xSessionId,
                string individualBirthDate,
                string individualGender,
                string individualBloodGroup,
                string individualRelationshipStatus,
                string individualChildrenNumber,
                string individualNotes)
        {
            Task t = UpdateApiV5IndividualsUpdateMedicalProfilePutAsync(xAuthenticationToken, xSessionId, individualBirthDate, individualGender, individualBloodGroup, individualRelationshipStatus, individualChildrenNumber, individualNotes);
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="xAuthenticationToken">Required parameter: Example: </param>
        /// <param name="xSessionId">Required parameter: Example: </param>
        /// <param name="individualBirthDate">Required parameter: Example: </param>
        /// <param name="individualGender">Required parameter: Example: </param>
        /// <param name="individualBloodGroup">Required parameter: Example: </param>
        /// <param name="individualRelationshipStatus">Required parameter: Example: </param>
        /// <param name="individualChildrenNumber">Required parameter: Example: </param>
        /// <param name="individualNotes">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public async Task UpdateApiV5IndividualsUpdateMedicalProfilePutAsync(
                string xAuthenticationToken,
                string xSessionId,
                string individualBirthDate,
                string individualGender,
                string individualBloodGroup,
                string individualRelationshipStatus,
                string individualChildrenNumber,
                string individualNotes)
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/individuals/update_medical_profile");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "X-Authentication-Token", xAuthenticationToken },
                { "X-Session-Id", xSessionId }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "individual[birth_date]", individualBirthDate ),
                new KeyValuePair<string, object>( "individual[gender]", individualGender ),
                new KeyValuePair<string, object>( "individual[blood_group]", individualBloodGroup ),
                new KeyValuePair<string, object>( "individual[relationship_status]", individualRelationshipStatus ),
                new KeyValuePair<string, object>( "individual[children_number]", individualChildrenNumber ),
                new KeyValuePair<string, object>( "individual[notes]", individualNotes )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Put(_queryUrl, _headers, _fields);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="xAuthenticationToken">Required parameter: Example: </param>
        /// <param name="xSessionId">Required parameter: Example: </param>
        /// <return>Returns the Models.Getmedicalprofile response from the API call</return>
        public Models.Getmedicalprofile GetApiV5IndividualsMedicalProfileGet(string xAuthenticationToken, string xSessionId)
        {
            Task<Models.Getmedicalprofile> t = GetApiV5IndividualsMedicalProfileGetAsync(xAuthenticationToken, xSessionId);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="xAuthenticationToken">Required parameter: Example: </param>
        /// <param name="xSessionId">Required parameter: Example: </param>
        /// <return>Returns the Models.Getmedicalprofile response from the API call</return>
        public async Task<Models.Getmedicalprofile> GetApiV5IndividualsMedicalProfileGetAsync(string xAuthenticationToken, string xSessionId)
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/individuals/medical_profile");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "X-Authentication-Token", xAuthenticationToken },
                { "X-Session-Id", xSessionId }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.Getmedicalprofile>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 