/*
 * BalsameeAPIs.Standard
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using BalsameeAPIs.Standard;
using BalsameeAPIs.Standard.Utilities;
using BalsameeAPIs.Standard.Http.Request;
using BalsameeAPIs.Standard.Http.Response;
using BalsameeAPIs.Standard.Http.Client;
using BalsameeAPIs.Standard.Exceptions;

namespace BalsameeAPIs.Standard.Controllers
{
    public partial class MiscController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static MiscController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static MiscController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new MiscController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="xSessionId">Required parameter: Example: </param>
        /// <param name="xAuthenticationToken">Required parameter: Example: </param>
        /// <param name="doctorAvailabilityNotificationSpecialityId">Required parameter: Example: </param>
        /// <param name="doctorAvailabilityNotificationRequestType">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public void CreateApiV5DoctorAvailabilityNotificationsPost(
                string xSessionId,
                string xAuthenticationToken,
                string doctorAvailabilityNotificationSpecialityId,
                string doctorAvailabilityNotificationRequestType)
        {
            Task t = CreateApiV5DoctorAvailabilityNotificationsPostAsync(xSessionId, xAuthenticationToken, doctorAvailabilityNotificationSpecialityId, doctorAvailabilityNotificationRequestType);
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="xSessionId">Required parameter: Example: </param>
        /// <param name="xAuthenticationToken">Required parameter: Example: </param>
        /// <param name="doctorAvailabilityNotificationSpecialityId">Required parameter: Example: </param>
        /// <param name="doctorAvailabilityNotificationRequestType">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public async Task CreateApiV5DoctorAvailabilityNotificationsPostAsync(
                string xSessionId,
                string xAuthenticationToken,
                string doctorAvailabilityNotificationSpecialityId,
                string doctorAvailabilityNotificationRequestType)
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/doctor_availability_notifications");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "X-Session-Id", xSessionId },
                { "X-Authentication-Token", xAuthenticationToken }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "doctor_availability_notification[speciality_id]", doctorAvailabilityNotificationSpecialityId ),
                new KeyValuePair<string, object>( "doctor_availability_notification[request_type]", doctorAvailabilityNotificationRequestType )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="contentType">Required parameter: Example: </param>
        /// <param name="mailName">Required parameter: Example: </param>
        /// <param name="mailEmail">Required parameter: Example: </param>
        /// <param name="mailFormType">Required parameter: Example: </param>
        /// <param name="mailMessage">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public void CreateApiV5ContactRequestContactPost(
                string contentType,
                string mailName,
                string mailEmail,
                string mailFormType,
                string mailMessage)
        {
            Task t = CreateApiV5ContactRequestContactPostAsync(contentType, mailName, mailEmail, mailFormType, mailMessage);
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="contentType">Required parameter: Example: </param>
        /// <param name="mailName">Required parameter: Example: </param>
        /// <param name="mailEmail">Required parameter: Example: </param>
        /// <param name="mailFormType">Required parameter: Example: </param>
        /// <param name="mailMessage">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public async Task CreateApiV5ContactRequestContactPostAsync(
                string contentType,
                string mailName,
                string mailEmail,
                string mailFormType,
                string mailMessage)
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/contact_request/contact");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "Content-Type", contentType }
            };

            //append form/field parameters
            var _fields = new List<KeyValuePair<string, Object>>()
            {
                new KeyValuePair<string, object>( "mail[name]", mailName ),
                new KeyValuePair<string, object>( "mail[email]", mailEmail ),
                new KeyValuePair<string, object>( "mail[form_type]", mailFormType ),
                new KeyValuePair<string, object>( "mail[message]", mailMessage )
            };
            //remove null parameters
            _fields = _fields.Where(kvp => kvp.Value != null).ToList();

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Post(_queryUrl, _headers, _fields);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="xSessionId">Required parameter: Example: </param>
        /// <param name="xAuthenticationToken">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public void GetApiV5ReservationRequests3263MresVisitMedicalDataGet(string xSessionId, string xAuthenticationToken)
        {
            Task t = GetApiV5ReservationRequests3263MresVisitMedicalDataGetAsync(xSessionId, xAuthenticationToken);
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// TODO: Add Description
        /// </summary>
        /// <param name="xSessionId">Required parameter: Example: </param>
        /// <param name="xAuthenticationToken">Required parameter: Example: </param>
        /// <return>Returns the void response from the API call</return>
        public async Task GetApiV5ReservationRequests3263MresVisitMedicalDataGetAsync(string xSessionId, string xAuthenticationToken)
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/reservation_requests/3263/mres/visit_medical_data");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "X-Session-Id", xSessionId },
                { "X-Authentication-Token", xAuthenticationToken }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

    }
} 